.announce-view{

  .announce-card{
    margin-top: 50px;
  }
  .empty-content {
    margin-top: 40%;
    text-align: center;
    color: #98999c;
    font-size: 25px;

    .empty-text {
      margin-top: 40px;
    }
  }
}