.note-view{
  .note-item{
    margin-top: 10px;
    padding:20px;
    display: block;
    border-bottom: 1px solid #e8e9ea;
    .note-header{
        .note-title{
          margin-top:15px;
      }
      .note-updatetime{
        float: right;
        height:20px;
        margin-right: 10px;
        margin-top:-50px;
        color: #98999c;
        font-size: 20px;
      }
    }
    .note-content{
      margin-top:10px;
      height: 80px;
      line-height: 40px;
      display: -webkit-box;
      -webkit-line-clamp:2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 25px;
    }


  }
}

.empty-content {
  margin-top: 40%;
  text-align: center;
  color: #98999c;
  font-size: 25px;

  .empty-text {
    margin-top: 40px;
  }
}

.note-button{
  margin-top: 5px;
  bottom: 5px;
  text-align: center;
}