.course-view{
  height: 100%;

}

.courseList-view{
  padding: 5%;
  .courseList-row{
    .courseList-item{
      padding: 30px;
      margin-top: 30px;
      display: flex;
      height: 160px;
      width: 90%;
      background: white;
      .courseList-image{
      }
      .courseList-content{
        display: block;
        padding: 22px;
        margin-left: 20px;
        .courseList-title{

        }
        .courseList-description{
          font-size: 25px;
          color: #98999c;
        }
      }
    }
  }
}
