
.courseList-view{
  padding: 5%;
  min-height: 100%;
  margin-bottom: 130px;
  background: #e8e9ea;
  .courseList-row{
    .courseList-item{
      padding: 30px;
      margin-top: 30px;
      display: flex;
      //height: 180px;
      width: 90%;
      background: white;
      .courseList-image{
        margin-top: 10px;
      }
      .courseList-content{
        display: block;
        padding: 22px;
        margin-left: 20px;
        .courseList-title{

        }
        .courseList-description{
          color: #98999c;
          height: 80px;
          line-height: 40px;
          display: -webkit-box;
          -webkit-line-clamp:2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 25px;
        }
      }
    }
  }
}
