
.courseList-view{
  padding: 5%;
  min-height: 100%;
  margin-bottom: 130px;
  .courseList-row{
    .courseList-item{
      padding: 30px;
      margin-top: 30px;
      display: flex;
      height: 160px;
      width: 90%;
      background: white;
      .courseList-image{
        margin-top: 10px;
      }
      .courseList-content{
        display: block;
        padding: 22px;
        margin-left: 20px;
        .courseList-title{

        }
        .courseList-description{
          font-size: 25px;
          color: #98999c;
        }
      }
    }
  }
}
